/*General styling=========================================*/

h1 {
    font-family: input-serif, serif;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    color: white;
}

p {
    font-family: input-serif, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0.5em;
}

section:first-of-type {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    pointer-events: none;
}

.main {
    background-image: url("../img/background1.svg");
    background-color: rgb(183, 183, 183);
    background-repeat: no-repeat;
    background-size: 80em;
    width: 80em;
    margin: 0;
    user-select: none;
}

/*End of general styling=====================================*/


/*https://www.w3docs.com/learn-html/html-meter-tag.html pseudoclass for styling!!===============================*/
meter {
    height: 1.5em;
    width: 30em;
    border-radius: 1em;
}

meter::-webkit-meter-optimum-value {
    background-color: rgb(66, 128, 66);
    transition: width .5s;
}

meter::-webkit-meter-suboptimum-value {
    background-color: rgb(128, 127, 66);
    transition: width .5s;
}

meter::-webkit-meter-even-less-good-value {
    background-color: rgb(128, 66, 66);
    transition: width .5s;
}

/*The 4 buttons===============================*/
button {
    background: transparent;
    border: 0;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    transform: rotate(5deg);
}

.mom {
    width: 20em;
    position: absolute;
    top: 15em;
    left: 1em;
}

.game {
    width: 10em;
    position: absolute;
    top: 26.2em;
    left: 85em;
}

.cat {
    width: 10em;
    position: absolute;
    top: 46em;
    left: 40em;
}

.cookie {
    width: 6em;
    position: absolute;
    top: 33.5em;
    left: 87em;
}

/*End of the 4 buttons=============================*/



/*Javascript classlist states======================*/

.gameOver {
    position: absolute;
    width: 73em;
    margin-left: 2em;
    visibility: hidden;
}

.visible {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.hidden {
    visibility: hidden;
}

.background_wrapper1 {
    background-image: url("../img/background2.svg");
}

.background_wrapper2 {
    background-image: url("../img/background3.svg");
}

.background_wrapper3 {
    background-image: url("../img/background4.svg");
}